@model RandomModel

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <th>Id</th>
    <th>Move</th>
    <th>Family</th>
    </thead>
    @foreach (var move in Model.Moves)
    {
        <tr>
            <td>@move.Id</td>
            <td>@move.Name</td>
            <td>@move.MoveFamily</td>
        </tr>
    }
</table>